* {
  font-family: Inter;
  color: var(--blue-);
  margin: 0;
}

:root {
  --orange: #EC994B;
  --white: #FFF;
  --red: #B73E3E;
  --green: #367E18;
  --orange: #EC994B;
  --blue-800: #114162;
  --blue-900: #113D5A;
  --gray-100: #F9F9F9;
  --gray-200: #EAEFF4;
  --gray-300: #E5E5E5;
  --gray-400: #A9A9A9;
  --gray-600: #73777B;
  }



body {
  background: #E5E5E5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

main {
  width: 900px;
  height: 500px;

  display: grid;
  grid-template-columns: 1.1fr 1fr;
  

  background: #fff;
  border-radius: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 500px;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background: #114162;
  border-radius:  10px 0 0 10px;
  position: relative;
}


h2 {
  font-weight: 700;
  font-size: 18px;

  margin-bottom: 32px;
}

label {
  font-weight: 600;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.form, div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
  width: 250px;
  height: 40px;
  border: 2px solid var(--blue-800) ;
  border-radius: 4px;
  padding: 0;

  box-sizing: border-box;

}


button {
  width: 250px;
  height: 40px;
  background: var(--blue-900);
  border: none;

  margin-top: 27px;
  color: var(--white);
  border-radius: 4px;

  font-weight: 600;
  font-size: 18px;
}
button:hover {
  /* background: var(--blue-800); */
  transition: 0.3s;
  opacity: 0.9;
}